.movies-section {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

.movies-section__gallery {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  justify-content: left;
  width: 100%;
  padding: 68px 60px 0;
  justify-items: center;
  margin: 0 auto 70px;
}

.movies-section__more-button {
  border: none;
  display: block;
  width: calc(100% - 120px);
  align-self: center;
  margin: 0 auto 80px;
  text-align: center;
  background-color: #f9f9f9;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  padding: 11px 0;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.movies-section__more-button:hover {
  opacity: 0.7;
}

@media (max-width: 1024px) {
  .movies-section__more-button {
    margin-bottom: 100px;
    width: calc(100% - 60px);
  }

  .movies-section__gallery {
    grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 -10px 50px;
  }
}

@media (max-width: 767px) {
  .movies-section__gallery {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 50px 0 0;
    margin-right: 0;
    margin-left: 0;
  }

  .movies-section__more-button {
    width: calc(100% - 20px);
  }
}

.movies-section__result {
  text-align: center;
  margin: 50px auto;
  
}
