.promo {
  background-color: #073042;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/praktikum_logo.svg");
  background-size: 320px;
  background-repeat: no-repeat;
  background-position: center 40%;
  margin: 0;
  box-sizing: border-box;
  min-height: 524px;
}

.promo__header {
  box-sizing: border-box;
  margin: 0;
  padding: 0 19px 40px;
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: 400;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .promo {
    min-height: 784px;
    background-position: center 48%;
  }
  .promo__header {
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .promo {
    min-height: 570px;
    background-size: 248px;
    background-position: center 44%;
  }
  .promo__header {
    font-size: 31px;
    line-height: 39px;
  }
}
