.main {
  padding-bottom: 172px;
}
.section {
  padding: 100px 70px;
  margin: auto;
}

.section__header {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  border-bottom: 1px solid black;
  padding-bottom: 23px;
}

@media (max-width: 1024px) {
  .section {
    padding: 90px 50px;
  }
}

@media (max-width: 767px) {
  .section {
    padding: 70px 18px;
  }

  .section__header {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }
}
