.search {
  padding: 80px 0;
  margin: 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  border-bottom: 1px solid #e8e8e8;
  
}

.search__input {
  width: 100%;
  height: 48px;
  border: none;
  border: 2px solid #e8e8e8;
  border-radius: 45px;
  padding: 0 52px 0 22px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.search__input-container {
  display: flex;
  flex-grow: 0.93;
  position: relative;
}

.search__button {
  position: absolute;
  top: 9px;
  right: 10px;
  background-image: url("../../images/search.svg");
  background-color: #3456f3;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 0;
  height: 34px;
  min-width: 34px;
  border-radius: 50%;
  cursor: pointer;

}

@media (max-width: 1024px) {
  .search {
    margin: 0 30px;
    padding: 60px 0 57px;
    flex-direction: column;
  }
  .search__input-container {
    width: 100%;
    margin-bottom: 38px;
  }
}

@media (max-width: 767px) {
  .search {
    padding: 60px 0 44px;
    margin: 0;
  }
  .search__input {
    font-size: 11px;
  }
  .search__input-container {
    margin-bottom: 45px;
    width: calc(100% - 20px);
  }
  .search__button {
    margin-right: 0;
  }
}
