.auth {
  display: flex;
  flex-direction: column;
  width: 396px;
  margin: 70px auto;
  height: 100%;
  align-items: left;
  box-sizing: border-box;
}

.auth__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.auth__logo {
  width: 38px;
  height: 38px;
}

.auth__header {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin: 40px 0 35px;
  padding: 0;
}

.auth__label {
  font-size: 10px;
  font-weight: 400;
  color: #a0a0a0;
}

.auth__inputs {
  min-height: 267px;
}

.auth__input {
  display: block;
  box-sizing: border-box;
  height: 46px;
  width: 100%;
  padding: 15px;
  font-size: 13px;
  line-height: 15px;
  margin: 10px 0 0;
  background-color: #f9f9f9;
  border: none;
  border-radius: 8px;
}

.auth__input_error {
  color: red;
}

.auth__button {
  margin: 69px 0 16px;
}

.auth__prompt {
  font-size: 14px;
  text-align: center;
  line-height: 17px;
  color: #a0a0a0;
  margin: 0;
}

.auth__link {
  cursor: pointer;
  color: #3456f3;
  text-decoration: none;
}

.auth__link:visited {
  color: #3456f3;
}

.auth__error {
  width: 100%;
  font-weight: 400;
  font-size: 10px;
  height: 10px;
  padding-top: 5px;
  color: #ff0000;
  display: block;
}

@media (max-width: 1024px) {
  .auth {
    margin: 22.5vh auto 0;
  }
}

@media (max-width: 767px) {
  .auth {
    width: 260px;
    height: auto;
    align-items: center;
    margin-top: 56px;
  }
  .auth__header {
    margin: 48px auto 78px;
  }
  .auth__button {
    margin: 157px 0 16px;
  }
  .auth__prompt {
    font-size: 12px;
    line-height: 14px;
  }
}
