.nav-tab {
  background-color: black;
  color: white;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-tab__link {
  cursor: pointer;
  color: white;
  margin-right: 40px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}
.nav-tab__link:last-child {
  margin-right: 0;
}

.nav-tab__link:visited {
  color: white;
}

@media (max-width: 767px) {
  .nav-tab {
    padding: 0 53px;
  }
  .nav-tab__link {
    margin-right: 24px;
    font-size: 11px;
  }
}
